@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a 
#hero-msg h1, #hero-msg h4
.button-box
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    font-family:"Roboto";
    font-size: 22px;
    background-color: #fcfbfb;
    margin: 0;
    padding: 0; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3 ;
}
.book, .join {
    background-color: #fcfbfb ;
    color:#d9c2a3;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover,.join:hover {
    background-color: black;
    color: #d9c2a3;
}
#background {
    background-color: #fcfbfb;
}
.msg h2, .msg p {
    background-color: black ;
    color: #d9c2a3;
}
.msg h2 {
    font-family: "Rock Salt";
}
.msg p {
    font-size: 8em;
    padding-bottom: 15px;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}
h2 {
    margin: 0;
}
footer, footer h3, footer a, footer a:hover {
    background-color: grey ;
    color: #d9c2a3;
}
nav a {
    color: rgba(20,30,13, .7);
    text-decoration: none;
    padding: 35px;
}
.home-title {
    color: #d9c2a3;
    font-family: "Rock Salt";
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #d9c2a3;
}
.logo, .icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer a {
    text-decoration: none;
}
footer h3 a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px, solid, #134266;
}